body {
    overflow: hidden;
}
/* Header */
.main-header {
    padding-bottom: 0.75rem;
    background-color: rgb(255, 255, 255);
}
/* Menu toggler */
.mobile-menu {
    transform: translateY(0.05rem);
    border: none;
}
.mobile-menu:focus {
    box-shadow: none;
}
.open-menu {
    width: auto;
    height: auto;
    vertical-align: top;
    background-image: none;
}
/* Offcanvas */
.close-menu {
    background-image: none;
}
.close-menu path {
    fill: black;
    opacity: 0.75;
}
/* Navbar brand */
.header-logo {
    transform: translate(0.25rem , -0.09rem);
}
/* User cart and profile  */
.user-details-box {
    transform: translate(0.3rem, 0.15rem);
}
.badge-custom {
    left: 0.4rem;    
    transform: scale(0.8) translateY(-0.3rem);
}
/* Product container */
.prod-preview-box {
    margin: 0 -0.75rem;
}
.preview {
    margin-top: -2.3rem;
}
/* @media (min-width: 576px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 992px) {
  }
  @media (min-width: 1200px) {
  }
  @media (min-width: 1400px) {
  } */