:root {
    --primary-orange: rgb(255, 125, 26);
    --primary-pale-orange: rgb(255, 237, 224);
    --prod-description-color: rgba(0, 0, 0, 0.6);
    --lightbox-bg: rgba(0, 0, 0, 0.75);
}
/* 
Header
*/
.main-header {
    padding-bottom: 0.75rem;
    background-color: rgb(255, 255, 255);
}
.navbar {
    flex-wrap: nowrap;
}
.nav-link {
    position: relative;
    font-weight: 500;
}
/* Menu toggler */
.mobile-menu {
    transform: translateY(0.05rem);
    border: none;
}
.mobile-menu:focus {
    box-shadow: none;
}
.open-menu {
    width: auto;
    height: auto;
    vertical-align: top;
    background-image: none;
}
/* Offcanvas */
.close-menu {
    background-image: none;
}
.close-menu path {
    fill: black;
    opacity: 0.75;
}
/* Navbar brand */
.header-logo {
    transform: translate(0.25rem , -0.09rem);
}
/* User cart and profile  */
.user-details-box {
    top: 0.15rem;
    left: 0.3rem;
    transform: translate(0.3rem, 0.15rem);
    z-index: 2;
}
.badge-custom {
    left: 0.4rem;    
    transform: scale(0.6) translate(1.5rem, -0.3rem);
}
.profile-avatar {
    max-width: 2.5rem;
}
/* Cart Items List */
.cart-box {
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 1px 10px 5px hsla(0, 0%, 25%, 0.1);
    height: fit-content;
    justify-content: space-between;
    min-width: calc(99vmin - 1.5rem);
    min-height: 60vmin;
    max-height: 60vmax;
    right: 1.5rem;
    top: 4.5rem;
}
.cart-item-header {
    border-bottom: 1px solid hsla(0, 0%, 25%, 0.15);
    padding: 1rem 0;
    width: 100%;
}
.cart-item-header h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 1.5rem;
}
.cart-items-list,
.cart-checkout {
    padding: 0 1.5rem;
}
.cart-items-list {
    padding: 1rem 1.5rem;
}
.alert-cart-empty {
    display: block;
    font-size: 1.05rem;
    font-weight: 500;
    text-align: center;
    opacity: 0.65;
}
.cart-item-details-box {
    align-items: center;
}
.details-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.details-text-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.cart-item-total {
    font-weight: 700;
    padding-left: 0.5rem;
}
.delete-cart-item-box  {
    cursor: pointer;
    display: block;
}
.cart-checkout {
    flex: none;
    padding-bottom: 1.5rem;
}
.checkout-btn {
    font-size: 0.9rem;
    width: 100%;
    padding: 1rem;
    color: rgb(255, 237, 224);
    background-color: var(--primary-orange);
}
.checkout-btn path {
    fill: rgb(255, 255, 255);
    stroke-width: 1px;
}
.cart-item-product-name-box p {
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}
/* 
MAIN
*/
/* Product container */
.prod-details-container {
    margin-top: -2.35rem;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
.prod-seller {
    font-size: 0.75rem;
    letter-spacing: 0.11rem;
    color: var(--primary-orange);
}
.prod-name {
    font-size: 1.8rem;
    font-kerning: none;
    word-spacing: -0.125rem;
    line-height: 2.1rem;
    margin-bottom: 0.9rem;
}
.prod-description {
    font-size: 1rem;
    line-height: 1.55rem;
    margin-bottom: 1.2rem;
    color: var(--prod-description-color);
}
.price-info {
    font-size: 1.8rem;
}
.discount-percentage {
    font-size: 1.2rem;
    letter-spacing: -0.0625rem;
    color: var(--primary-orange);
}
.original-price {
    font-size: 1.05rem;
    text-decoration: line-through;
    color:rgba(0, 0, 0, 0.25);
}
/* order details */
.order-quantity {
    font-size: 1.05rem;
}
.quantity-add,
.quantity-reduce {
    transition: all 50ms ease-out 0s;
    border: none;
}
.quantity-add:hover,
.quantity-reduce:hover {
    opacity: 0.55;
}
.quantity-add:active,
.quantity-reduce:active {
    transform: scale(0.9);
}
.product-cart-btn {
    color: rgb(255, 255, 255);
    background-color: var(--primary-orange);
    transition: all 300ms ease-out 0s;
}
.product-cart-btn svg {
    transform: scale(0.8);
}
.product-cart-btn path {
    fill: rgb(255, 255, 255);
}
.product-cart-btn:hover {
    background-color: var(--primary-orange);
    color:rgb(255, 255, 255);
    opacity: 0.55;
}
/* product showcase */
.prod-preview-box {
    margin: 0 -0.75rem;
}
.preview {
    margin-top: -2.3rem;
}
.close-lightbox-btn {
    cursor: pointer;
    top: -3.3rem;
    right: -0.5rem;
}
.prev-btn,
.next-btn {
    cursor: pointer;
    top: calc(50% - 2.3rem);
    background-color: rgb(255, 255, 255);
    transition: all 50ms ease-out 0s;
    transform: scale(1.1);
}
.prev-btn svg,
.next-btn svg {
    top: 0.0625rem;
    left: 0.1rem;
}
.prev-btn path,
.next-btn path {
    transform: scale(0.65);
}
.prev-btn {
    left: 1.1rem;
}
.next-btn {
    right: 1.1rem;
}
.prev-btn:hover,
.next-btn:hover,
.prev-btn:focus,
.next-btn:focus {
    background-color: rgb(255, 255, 255);
}
.prev-btn:hover path,
.next-btn:hover path {
    stroke: var(--primary-orange);
}
.prev-btn:active,
.next-btn:active {
    background-color: rgb(255, 255, 255);
    transform: scale(0.95);
}
.prev-btn:active path,
.next-btn:active path {
    stroke: var(--primary-orange);
}
.static-prod-gallery,
.lightbox-prod-gallery {
    column-gap: 2rem;
}
.static-prod-gallery {
    padding: 0 2rem!important;
}
.lightbox-prod-gallery {
    margin-top: 2.25rem!important;
    padding: 0 4rem!important;
}
.img-thumbnail {
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease-out 0s;
}
.img-thumbnail:hover {
    opacity: 0.7;
}
/* @media (min-width: 576px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 1200px) {
  } */
  @media (min-width: 992px) {
    .prod-details-container,
    .prod-preview-box,
    .preview {
        margin: initial;
    }
    /* 
    HEADER
    */
    .nav-link {
        font-weight: 400;
    }
    .nav-link:hover {
        font-weight: 500;
    }
    .nav-link:link::before {
        content: '';
        transition: all 250ms ease-in-out 50ms;   
        opacity: 0.75;
    }
    .nav-link:visited::before {
        font-weight: 500;
        opacity: 0.5;
    }
    .nav-link:hover::before {
        border-bottom: 0.3rem solid var(--primary-orange);
        border-radius: 0.1rem;
        bottom: -100%;
        height: 250%;
        left: 0.5rem;
        position: absolute;
        opacity: 1;
        width: calc(100% - 1rem);
    }
    .nav-link:focus {
        color: var(--primary-orange);
    }
    .nav-link:active {
        color: var(--primary-orange);
        font-weight: 700;
        opacity: 0.75;
    }
    .badge-custom {
        right: 0;    
        transform: scale(0.6) translate(3rem, -0.3rem);
        width: fit-content;
    }
    .cart-box {
        min-width: calc(50vmin - 1.5rem);
        min-height: 35vmin;
        max-height: 400vmin;
    }
    .header-cart-btn {
        transition: all 300ms ease-out 0s;
    }
    .header-cart-btn:hover {
        transform: scale(0.95);
    }
    .header-cart-btn:hover path {
        fill:rgb(255, 125, 26);
    }
    .profile-avatar {
        cursor: pointer;
        border-radius: 50%;
        max-width: 3rem;
        transition: all 300ms ease-out 0s;
    }
    .profile-avatar:hover {
        border: 0.2rem solid var(--primary-orange);
        transform: scale(0.95);
    }
    /* 
    MAIN
    */
    /* Product container */
    .prod-seller {
        font-size: 0.85rem;
    }
    .prod-name {
        font-size: 2.8rem;
        line-height: 3.1rem;
        margin-bottom: 2.2rem;
    }
    .prod-description {
        letter-spacing: 0.03125rem;
        line-height: 1.6rem;
    }
    .discount-percentage {
        font-size: 1rem;
        letter-spacing: initial;
        margin-bottom: -0.2rem;
    }
    .original-price {
        width: 100%;
    }
    .thumbnail-active {
        position: relative;
        top: 0;
        padding: 0;
        border: 2px solid var(--primary-orange);
        transform: scale(1.05);
        background-color: var(--primary-orange);
        overflow: hidden;
        transition: transform 500ms ease-out 0s, backgroundColor 250ms ease 0s;
    }
    .thumbnail-active::before {
        content: "";
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.75);
    }
    .cart-item-product-name-box p {
        text-overflow: initial;
        white-space: normal;
    }
    /* product showcase */
    /* Lightbox */
    .lightbox-showcase {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        z-index: 3;
        background-color: var(--lightbox-bg);
    }
    .lightbox-container {
        width: 39%;
        height: 100%;
        padding: calc(10vmin * 0.8) 0;
    }
    .lightbox-showcase .prod-preview-box {
        height: min-content;
        margin-top: 4rem;
        overflow: initial!important;
    }
    .preview img {
        width: 100%;
        height: auto;
        border-radius: 3%;
    }
    .close-lightbox-btn {
        transition: all 300ms ease-out 0s;
        transform: scale(1.2);
    }
    .close-lightbox-btn path {
        fill: white;
    }
    .close-lightbox-btn:hover path{
        fill: var(--primary-orange);
    }
    .close-lightbox-btn:active {
        transform: scale(0.95);
    }
    .prev-btn,
    .next-btn {
        top: calc(50% - 1.5rem);
    }
  }
  @media (min-width: 1400px) {
    /* Product container */
    /* product showcase */
    .prev-btn,
    .next-btn {
        transform: scale(1.5);
    }
    .prev-btn {
        left: -1rem;
    }
    .next-btn {
        right: -1rem;
    }
  }